<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-right ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar" id="menu-list-item4">
          <img src="img/0ovM1b2ZQ2eOJ8c1vf4f_download.png">
          <h2>Fulano</h2>
          <p>random@email.com</p>
        </ion-item>
        <ion-item id="menu-list-item1" href-inappbrowser="page1">Meu Consumo</ion-item>
        <ion-item id="menu-list-item10" href-inappbrowser="page1">Página Inicial</ion-item>
        <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="menu-toggle3" name="jesus">Habilitar Dicas</ion-toggle>
        <ion-item id="menu-list-item2" href-inappbrowser="page2">Contato</ion-item>
        <ion-item id="menu-list-item9">Sair</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>