<ion-view title="Page" hide-nav-bar="true" id="page8" style="background-color:#AADE87;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <style>
        body{
            color:black;
        }
      </style>

      <li>
        <strong>Invista. Instale Equipamentos de detecção em áreas de iluminação para evitar o uso descontrolado de energia.</strong>
      </li>
      <br>
      <li>
        <strong>Invista em geradores mais avançados. Apesar de o preço não valer a pena no começo, o custo benefício com prolongamento se torna eficiente. Os geradores mais baratos não duram tanto e usam bem mais energia.</strong>
      </li>
      <br>
      <li>
        <strong>Evite o uso de Ar comprimido. Para as empresas que o usam, tomar grande cuidado com seu uso é essencial. Esse maquinário chega a representar 10% dos gastos com energia elétrica.</strong>
      </li>
      <br>
      <br>
      <li>
        <strong>Aumente a Ventilação Natural. A melhor forma de diminuir o uso de ar condicionado é aumento de ventilação própria, essa prática gera uma economia considerável. </strong>
      </li>
      <br>
    </div>
    <a ui-sref="page4()" id="page3-button13" style="font-size:15px;" class="button button-positive button-block">Equipamentos Recomendados pra mim</a>
  </ion-content>
</ion-view>