<ion-view title="Page" hide-nav-bar="true" id="page5" style="background-color:#AADE87;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <button id="page-button3" style="border-radius:22px 22px 22px 22px;" class="button button-positive button-block">Economizando na Empresa</button>
    <a ui-sref="page3()" id="page-button4" style="border-radius:22px 22px 22px 22px;" class="button button-positive button-block">Economizando na Indústria</a>
    <a ui-sref="page2()" id="page-button5" style="border-radius:22px 22px 22px 22px;" class="button button-positive button-block">Economizando na Residência</a>
  </ion-content>
</ion-view>