<ion-view title="Page" hide-nav-bar="true" id="page10" style="background-color:#AADE87;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/F3sErIn3RFmn9hk3xK7R_Semttulo.png" style="display: block; width: 100%; height: 350px; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/p0TsnBshTjKXUCcfaYEk_Semttulo1.png" style="display: block; width: 100%; height: 350px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>