<ion-view title="Page" hide-nav-bar="true" id="page6" style="background-color:#AADE87;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="page2-markdown2" style="text-align:center;" class="show-list-numbers-and-dots myclass1">
      <p style="color:#FFFFFF;font-size:25px;">Formas de diminuir seu consumo:</p>
    </div>
    <div>
      <style>
        body {
            font-size:20px;
            font-family:'calibri';
            color:black;
        }
      </style>

      <br>
      <li>
        <strong>Evite o consumo desnecessário durante os meses de Janeiro á Fevereiro! A bandeira atual é
          <span style="color:red">Vermelha</span>. Durante esse período o valor do Kwh é aumentado drásticamente.</strong>
      </li>
      <br>
      <li>
        <strong>Confira os eletrodomésticos antes de deixar a residência. </strong>
      </li>
      <br>
      <li>
        <strong>Caso o consumo esteja muito alto considere desligar a energia pelo App.</strong>
      </li>
      <br>
      <br>
    </div>
  </ion-content>
</ion-view>