<ion-view title="Wise Energy Saving" id="page11" style="background-color:#AADE87;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-options"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-energized icon ion-android-bulb"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <script>
    </script>
    <div>
      <style>
        body{
          font-size:20px;
          font-family:'calibri';
          
        }
      </style>

      <br>
      <p align="center">
        <strong>Neste mês você usou 56 Mwh , no valor de
          <span style="color:red">R$ 11.200,00.</span>
          <br>
          <br>Meta: 45 Mega whatts hora.
          <br>
          <br>
          <span style="color:red"> Seu consumo está muito alto!</span>
        </strong>
      </p>
    </div>
    <div>
      <img src="img/UkyfTo2zRzGJCkuNm9JS_desenhando.svg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page()" id="wiseEnergySaving-button7" style="font-weight:600;border-radius:22px 22px 22px 22px;" class="button button-positive button-block icon-left ion-android-bulb">Me ajude a economizar!</a>
  </ion-content>
</ion-view>